*{
    background-color: aqua;
}

p{
    color: navy;

}
#title-1{
    background-color: blueviolet;
}
.bg-yellow{
    color: blueviolet;
}
[id]{
    color: blanchedalmond;
}
[id=title-1]{
    font-size: 4rem;
}
[href="https://www.yahoo.com"]{
    color: brown;
}
.title-2{
    color: crimson;
}
[href$=".com"]{
   color: chartreuse;
}
class.title-2{
    background-color: coral;
}
[href*="127"]{
    color: chocolate;
}
[href^="http"]{
    font-size: 10px;
}
a, p, h1{
    font-style: italic;
}
main>p{
    background-color: darkseagreen;
}
h1 + p{
    font-weight: 200;
}
h1 + *{
    font-size: 25px;
}
main>*{
    background-color: dodgerblue;
}
